body {
  font-family: Chakra Petch , sans-serif;
  font-weight: 300;
}
.done-edit {
  height: 40vw;
  margin: 0 auto;
  margin-top: 6px;
  width: 500px;
}
.indice {
  margin-top: 5px;
  padding-top: 0;
}
.done-buttons {
  align-items: center;
  color: #797D86;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  line-height: normal;
  text-align: center;
}
.done-image {
  display: flex;
  margin: 0 auto;
}
.images-done {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  margin-left: 183.24px;
  margin-top: 50px;
  width: 150px;
}
.image-drink-meals {
  background: white;
  border: 1.918px solid #B1B1B1;
  border-radius: 5px  0 0;
  border-right: 0;
  flex-shrink: 0;
  height: 145.854px;
  margin-left: 50px;
  margin-top: 4px;
  width: 183.346px;
}
.button-share-dones {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: auto;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-transform: none;
}
.img-share-dones {
  margin-left: 445.44px;
  margin-top: -273.2px;
  width: 33px;
}
.paragraph-um {
  color: #1A1B1C;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1vw;
  padding-left: 18px;
  text-align: left;
  width: 210px;
}
.paragraph-dois {
  color: #1A1B1C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
  text-align: left;
}
.link-done {
  color: #797D86;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2vw;
  padding-left: 20px;
  position: absolute;
}
.paragrafos {
  background: white;
  border: 0.518px solid #B1B1B1;
  border-left: 0;
  border-radius: 5px 5px 0 0;
  height: 144.854px;
  margin-left: 231.54px;
  margin-top: -145.3px;
  width: 250.346px;
}
.meals-btn-done, .drinks-btn-done, .all-btn-done {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: auto;
  font: inherit;
  line-height: normal;
  margin: 12px;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-transform: none;
}
@media ( max-width : 768px ) {
  .done-image {
    margin-top: 10vw;
  }
  .images-done {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    margin-left: 185px;
    margin-top: 30px;
    width: 140px;
  }
  .done-edit {
    height: 100vw;
    margin: 0 auto;
    margin-top: 6px;
    width: 500px;
  }
  .image-drink-meals {
    margin-left: 30px;
  }
  .paragrafos {
    margin-left: 212.54px;
  }
  .img-share-dones {
    margin-left: 415.44px;
    width: 33px;
  }
  .link-done {
    margin-top: 5vw;
  }
}
