body {
  font-family: 'Chakra Petch', sans-serif;
font-weight: 300;
}

.done-edit {
  height: 40vw;

}

.done-icon {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .done-icon {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;

  }

  .done-edit {
    height: 108vw;

  }
}