body {
  overflow: scroll;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;

}

.drink-container {
  display: flex;
  justify-content: center;
  margin-top: 12vw;
}

.drink-btn,
.btn-all {
  width: 70px;
  color: #4a4b52;
  text-align: center;
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  height: 44px;
  margin: 2px;
}

.drinks-options {
  margin: 0 10px;
  margin-bottom: 1.4641288433382138vw;
  height: 0.8784773060029283vw;


}

.drink-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 28vw;
  margin: 0 auto;
  padding-top: 1vw;
  margin-top: 1vw;

}

.drink-image {
  width: 163px;
  height: 135px;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: url(<path-to-image>), lightgray -1.5px -53.761px / 123.306% 186.119% no-repeat;
  margin: auto;
  border: 0.518px solid #B1B1B1;
  background: #FFF;
}

.drink-card {
  max-width: 170px;
  padding-left: 1.5vw;
  padding-top: 0.6vw;
  height: 2.6vw;
  border-radius: 5px;
  border: 0.518px solid #B1B1B1;
  background: #FFF;
  border-top: none;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  color: #1A1B1C;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.header-sty {
  width: 100%;
  display: flex;
  height: 4vw;
  justify-content: center;

}

.header-filha {
  width: 100%;
  margin-top: 10vw;
  text-align: center;
  justify-content: center;
  display: flex;
 
}

.drk-bar-cont,
.ordinary,
.cocktail,
.shake,
.other,
.cocoa {
  width: 45.28px;
  height: 45.28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45.28px;
margin: 14px;
  border: 2px solid #FCC436;

}

@media (max-width: 768px) {

  .drk-bar-cont,
  .ordinary,
  .cocktail,
  .shake,
  .other,
  .cocoa {

    margin: 2.6320644216691069vw;
    margin-top: 12vw;
  }

  .drink-cont {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 82vw;
    height: 28vw;
    margin: 0 auto;
    padding-top: 1vw;



  }

  .drink-image {
    width: 163px;
    height: 135px;
    flex-shrink: 0;
    border-radius: 5px 5px 0px 0px;
    background: url(<path-to-image>), lightgray -1.5px -53.761px / 123.306% 186.119% no-repeat;
    /*  background-color: chocolate; */
    margin: auto;
  }

  .drink-card {

    max-width: 170px;
    padding-left: 1.5vw;
    padding-top: 0.6vw;
    height: 4vw;
    border-radius: 5px;
    border: 0.518px solid #B1B1B1;
    background: #FFF;
    border-top: none;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    color: #1A1B1C;
    font-family: Epilogue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}


@media (max-width: 768px) {
  .drink-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 1100px;
    padding: 0;
    max-height: 100%;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;

  }

  .drinks-options {
    margin: 0 10px;
    margin-bottom: 20px;
    height: 155px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }

  .drink-image {
    width: 163px;
    height: 135px;
    flex-shrink: 0;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
  }

  .drink-container {
    margin-top: 30%;
    height: 11vw;

  }

  .drink-card {
    border-top: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
  }
}

@media (min-width: 769px) and (max-width: 1360px) {
  .drink-cont {
    width: 82vw;
    height: 86vw;
  }

  .drink-btn,
  .btn-all {
    width: 65px;
    height: 42px;
    margin-top: 8.5vw;
  }

  .drk-bar-cont,
  .ordinary,
  .cocktail,
  .shake,
  .other,
  .cocoa {
    margin-left: 1.9vw;
    margin-top: 6vw;
  }

}