
.drink-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 200px;

}

.drink-btn {

  margin-right: 5px; 
  border-radius: 5px;
}
.btn-all{
  
  border-radius: 5px;
}

.drink-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  width: 350px;
  margin-top: 20px;
  margin-left: 490px;
}

.drinks-options {
  background-color: aqua;
  /* Largura fixa de 100px para cada item */
  margin: 0 10px; /* Espaço entre as receitas na horizontal */
  margin-bottom: 20px; 
  height: 122px;
}
.drink-image {
  width: 120px;
  height: 120px;

}

@media (max-width: 768px) {
  .drink-cont {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 20px;
  margin-left: 50px;
  max-height: 100%; /* Adicionei isso para garantir que o elemento não exceda a largura da tela */
  box-sizing: border-box; 
    
  }
  .drinks-options {
    
    background-color: aqua;
    /* Largura fixa de 100px para cada item */
    margin: 0 10px; /* Espaço entre as receitas na horizontal */
    margin-bottom: 20px; 
    height: 155px;
    border: 1px solid #000;
    border-radius: 8px; /* Ajuste os valores para moldar a borda conforme desejado */

    background-color: #fff;
    justify-content: center;
    align-items: center;
  }
  .drink-image {
    width: 130px;
    height: 130px;
    border-radius: 8px 8px 0 0; 
  
  }
  .drink-card {
   margin-left: 23px;
  }
}