body {
  font-family: Chakra Petch , sans-serif;
  font-weight: 300;
  overflow: scroll;
}

.drink-container {
  display: flex;
  justify-content: center;
  margin-top: 11vw;
}

.drink-btn, .btn-all {
  color: #4a4b52;
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 300;
  height: 44px;
  line-height: normal;
  margin: 2px;
  text-align: center;
  width: 70px;
}

.drinks-options {
  height: 0.878vw;
  margin: 0 10px;
  margin-bottom: 1.464vw;
}

.drink-cont {
  display: flex;
  flex-wrap: wrap;
  height: 28vw;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1vw;
  padding-top: 1vw;
  width: 100%;
}

.drink-image {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 5px 5px 0 0;
  flex-shrink: 0;
  height: 135px;
  margin: auto;
  width: 163px;
}

.drink-card {
  align-items: center;
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 0 0 5px 5px;
  border-top: none;
  color: #1a1b1c;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 2.6vw;
  justify-content: center;
  line-height: normal;
  max-width: 170px;
  padding-left: 1.5vw;
  padding-top: 0.6vw;
}

.header-sty {
  display: flex;
  height: 4vw;
  justify-content: center;
  width: 100%;
}

.header-filha {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  text-align: center;
  width: 100%;
}

.drk-bar-cont, .ordinary, .cocktail, .shake, .other, .cocoa {
  align-items: center;
  border: 2px solid #fcc436;
  border-radius: 45.28px;
  display: flex;
  height: 45.28px;
  justify-content: center;
  margin: 14px;
  width: 45.28px;
}

@media ( max-width : 768px ) {

  .drk-bar-cont, .ordinary, .cocktail, .shake, .other, .cocoa {
    margin: 2.232vw;
    margin-top: 12vw;
  }

  .drink-cont {
    display: flex;
    flex-wrap: wrap;
    height: 28vw;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1vw;
    width: 82vw;
  }

  .drink-image {
    border-radius: 5px 5px 0 0;
    flex-shrink: 0;
    height: 135px;
    margin: auto;
    width: 163px;
  }

  .drink-card {
    align-items: center;
    background: white;
    border: 0.518px solid #b1b1b1;
    border-radius: 0 0 5px 5px;
    border-top: none;
    color: #1a1b1c;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 4vw;
    justify-content: center;
    line-height: normal;
    max-width: 170px;
    padding-left: 1.5vw;
    padding-top: 0.6vw;
  }
}


@media ( max-width : 768px ) {

  .drink-cont {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 1100px;
    justify-content: center;
    max-height: 100%;
    padding: 0;
    width: 100%;
  }

  .drinks-options {
    align-items: center;
    border-radius: 8px;
    height: 155px;
    justify-content: center;
    margin: 0 10px;
    margin-bottom: 20px;
  }

  .drink-image {
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    flex-shrink: 0;
    height: 135px;
    width: 163px;
  }

  .drink-container {
    height: 11vw;
    margin-top: 30%;
  }

  .drink-card {
    align-items: center;
    border-radius: 0 0 8px 8px;
    border-top: none;
    justify-content: center;
  }

  .drink-btn, .btn-all {
    width: 68px;
  }
}

@media ( min-width : 769px ) and ( max-width : 1360px ) {

  .drink-cont {
    height: 86vw;
    width: 82vw;
  }

  .drink-btn, .btn-all {
    height: 42px;
    margin-top: 8.5vw;
    width: 65px;
  }

  .drk-bar-cont, .ordinary, .cocktail, .shake, .other, .cocoa {
    margin-left: 1.9vw;
    margin-top: 6vw;
  }
}
