.favorite-recipe {
  margin-left: 48vw;
  margin-top: 1vw;
 
}
.fav-div{
/* background-color: blue; */
margin-top: 3vw;
color: #797D86;
text-align: center;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: normal;
height: 33vw;
}
.one-fav-btn, .two-fav-btn, .three-fav-btn {
  margin: 11px;
}