.footer-style {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #41197f;
 
}

@media (max-width: 768px) {

  .meals-link{
    margin-left:15rem;
  }
}