/*REsponsavel por toda a estilizacao do footer*/
/* 
.footer-style {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px ;
  background-color: #7628ec;
}

@media (max-width: 768px) {

  .footer-style {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    padding: 5px  ;
    background-color: #7628ec; 
  }
}
 */