body {
  font-family: 'Chakra Petch', sans-serif;
font-weight: 300;
}

.page-title-profile {
  width: 100%;
  color: #41197F;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  margin-top: 3vw;
}

.drink-img-header {
  text-align: center;
  position: relative;
  left: 50%;
  top: 3vw;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .page-title-profile {

    margin-top: 3vw;
  }

}