body {
  font-family: Chakra Petch , sans-serif;
  font-weight: 300;
}

.header {
  background: #fcdc36;
  flex-shrink: 0;
  height: 52px;
  padding-top: 5px;
  width: 100%;
  z-index: 1;
}

.profile-icon {
  clear: both;
  flex-shrink: 0;
  float: right;
  height: 28.71px;
  width: 28.71px;
}

.bandeja-header {
  margin-left: 10vw;
}

.title-header {
  left: 38%;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
}

.search-icon {
  border-radius: 5px;
  float: left;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

.btn-header-casc {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: auto;
  font: inherit;
  line-height: normal;
  margin: 0;
  margin-left: -32vw;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-transform: none;
}

.btn-div-teste {
  height: 3vw;
  margin: 0 auto;
  width: 100%;
}

.btn-search {
  background: none;
  margin-right: -115vw;
  margin-top: -155px;
}

.form-control.input-search {
  border-radius: 5px 5px 0 0;
  height: 40px;
  margin: 0 auto;
  width: 24.743vw;
}

.checkbox-style {
  margin-top: 1vw;
}

@media ( max-width : 768px ) {

  .form-control.input-search {
    border-radius: 5px 5px 0 0;
    height: 40px;
    margin: 0 auto;
    width: 300px;
  }

  .btn-search {
    background: none;
    margin-right: -110vw;
    margin-top: -155px;

  }

  .title-header {
    left: 15%;
    margin-left: 20vw;
    position: relative;
    text-align: center;
    transform: translateX(-50%);
  }
}
