/* body {
  overflow: hidden;
} */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150vh;
  /* background-color: blueviolet; */
 
}
/* Estilo para os inputs de email */
.input-email.form-control,
.input-senha.form-control {
  margin: 1.2rem;
  padding: 0.75em;
  width: 100%;
  max-width: 300px;
  display: block; 
}

/* Estilo para o formulário */
.form-login {
  /* background-color: brown; */
  width: 100%; 
  max-width: 340px; 
}



/*Estilo para o botao*/
.btn-enter.btn {
  margin: auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 3em;
  padding: 0 2em;
  width: 19em;
  margin-bottom: 1em;
}



/* quando o mouse passa sobre o botão */
.btn-enter.btn:hover {
  background-color: rgb(39, 3, 158); 
  color: white; 
}

/*text LOGIN*/
.login-title {
  color: rgb(2, 0, 10);
  font-size: 1.6rem;
  /* -webkit-text-stroke: 1.5px rgb(17, 5, 59); */
  font-style: italic;
  margin-bottom: 1%; 
  /* background-color: yellow; */
}


/*text RECIPES*/
.recipes-h1 {
  color: rgb(1, 0, 8);
  font-size: 4.688rem;
 /*  -webkit-text-stroke: 1.5px rgb(17, 5, 59); */
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: darkgreen; */
}
/*text App*/
.recipes-h5 {
  color: rgb(1, 0, 8);
 /*  -webkit-text-stroke: 1.5px rgb(17, 5, 59); */
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
 /*  background-color: fuchsia; */
}

@media (max-width: 768px) {
  .recipes-h1 {
    font-size:2.75rem;
  }
  .login-title {
    font-size: 1.3rem;
  }
  .input-email.form-control,
.input-senha.form-control {
  margin: 0.7rem;
  padding: 0.60em;
  width: 250px;
  display: block; 
}

.form-login {
  
  max-width: 280px;
}
.btn-enter.btn {

  width: 15.5em;
  margin-bottom: 1em; 
  margin-right: 1.2rem;
}

}
