body {
  overflow: scroll;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 11vw;
/*   background-color: rgb(2, 80, 2); */

}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 11vw;
/*    background-color: rgb(2, 80, 2);  */
  margin-top: 0.1vw;
}

.button-meals, .button-all{
  width: 65px;
  color: #797D86;
text-align: center;
font-family: Epilogue;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: normal;
height: 40px;
margin: 2px;
}



 .header-stymeals {
  margin-top: 10%;
  /* background-color: red; */
  width: 100%;
  display: flex;
  height: 4.6vw;

  justify-content: center; /* Centraliza horizontalmente */

}

.header-filha-meals {
  width: 100%;
  margin-top: 10%;
/*   background-color: #ccc; */
  text-align: center;
  margin: 10px;
  justify-content: center;
  display: flex; /* Adicione display flex para .header-filha */
}
.All, .beef, .goat, .chicken, .breakfast, .dessert{
  width: 45.28px;
  height: 45.28px;
  display: flex; /* Usar flexbox para centralizar verticalmente e horizontalmente */
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  position: relative;
  border-radius: 45.28px;
  margin: 10px;
border: 2px solid #FCC436;
}


.receitas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
/*   background-color: purple; */
  width: 90%; /* Define a largura do elemento */
  height: 480px;
  margin: 0  auto; 
  margin-top: 8px;

}


.meals-itens {
/*   background-color: aqua; */
  /* Largura fixa de 100px para cada item */
  margin: 0 10px; /* Espaço entre as receitas na horizontal */
  margin-bottom: 20px; 
  height: 122px;
}
.img-edit {
  width: 170px;
  border: 1px solid black;
  border-radius: 8px 8px 0 0 ; 
  border-bottom: none;
}

.card-name{
/*   background-color: lawngreen; */
  max-width:170px;
    border: 1px solid black;
    border-top: none;
  
   align-items: center;
   justify-content: center;
   border-radius:  0 0 5px 5px; 
 }

@media (max-width: 768px) {
  .receitas-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1700px;
  margin-top: 20px;

  max-height: 100%; /* Adicionei isso para garantir que o elemento não exceda a largura da tela */
  box-sizing: border-box; 
    
  }
  .meals-itens {
    
/*     background-color: aqua; */
    /* Largura fixa de 100px para cada item */
    margin: 0 10px; /* Espaço entre as receitas na horizontal */
    margin-bottom: 20px; 
    height: 155px;
    border-radius: 8px; /* Ajuste os valores para moldar a borda conforme desejado */

    background-color: #fff;
    justify-content: center;
    align-items: center;
  }
  .img-edit {
    width: 170px;
    height: 170px;
    border-radius: 8px 8px 0 0; 
    border: 1px solid black;
    border-bottom: none;
  }

.button-container {
  margin-top:22%;
  
}

  .card-name{
    border: 1px solid black;
    border-top: none;
   border-radius: 5px;
   align-items: center;
   justify-content: center;
   border-radius:  0 0 8px 8px; 
  }
 
}