body {
  font-family: Chakra Petch , sans-serif;
  font-weight: 300;
}

.recipe-progress-container {
  margin-top: 5px;
}

.btn-finish-style {
  align-items: center;
  background: #fcc436;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 300px;
}
