.start {
  background: #fcc436;
  border-radius: 5px;
  bottom: 0;
  display: flex;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  width: 260px;
}
